.user-management-container{
    width: 1400px;
    margin: 0 auto;
}
.user-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    text-align: left;
  }
  
  .user-table th,
  .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .user-table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .user-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .user-table tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Ações */
  .actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .actions select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn-delete {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-delete:hover {
    background-color: #c82333;
  }
  
  /* Mensagem de erro */
  .error-message {
    color: #dc3545;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .filter-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 30%;
  }
  .filter-container select {
    width: 100%;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #000;
    margin-top: 0.25rem;
    box-sizing: border-box
  }