.container-carregar-mais {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    gap: 1rem;
}

.container-carregar-mais button {
    padding: 0.2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: transparent;
    color: black;
    font-size: 1rem;
    cursor: pointer;
}

.container-carregar-mais span {
    text-align: center;
}