.recuperar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.recuperar-container .button-template{
    background-color: green;
    border-color: green;
}

.recuperar-card {
    background-color: #0052cc; /* Azul do card */
    padding: 2rem;
    border-radius: 16px;
    width: 400px;
    text-align: center;
    color: white;
}

.recuperar-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.recuperar-form label {
    text-align: left;
    font-weight: bold;
}

.recuperar-form input {
    padding: 0.7rem;
    border-radius: 999px;
    border: none;
    outline: none;
}

.botoes {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#recaptcha-recuperar-senha{
    margin: 0 3rem;
}