.header-container {
    background-color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}

.header-container nav ul {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.header-container nav ul li .hamburger-menu {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}




