/* Eventos.css */
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');

.slick-track {
    overflow-x: hidden; 
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
.page-title {
  margin-top: 5rem;
  color: #FFF;
  text-align: center;
  letter-spacing: -2px;
  font-size: 55px;
}

.category-1 {
  margin-top: -3rem;
}

.category-n {
  margin-top: -2rem;
}

.slide-container {
  display: flex;
}

.category-title {
  margin-left: 2rem;
  color: #0C4DA2;
  font-weight: bold;
  letter-spacing: -2px;
  font-size: 50px;
  line-height: 4rem;
}


.box-date {
    background-color: #0C4DA2;
    color: #FFF;
    max-width: 17rem;
    text-align: center;
    font-size: 16px;
    padding: 1.3rem 0;
    margin: 0 0 5px 2rem;
    border-radius: 15px;
    position: relative; /* Adicione position: relative */
    z-index: 99;
  }
  
  .line {
    position: absolute;
    width: 100rem;
    margin-top: -8px;
    margin-left: 237px;
    border: solid 1px #0C4DA2;
    z-index: 1;
  }

.box-conteudo {
  background-color: #FFF;
  width: 21rem;
  overflow-x: hidden; 
  padding: 1rem 2rem;
  margin: 0 0 0 2rem;
  border-radius: 14px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.box-title {
  color: black;
  margin-top: 1rem;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 30px;
  line-height: 2.4rem;
}

.box-description {
  color: gray;
  margin-top: -1rem;
  font-weight: lighter;
  font-size: 18px;
  line-height: 1.5rem;
}