/* Estilo geral do modal */
#reject-modal-feed-managment.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Certifique-se de que está acima de outros elementos */
  }
  
  /* Conteúdo do modal */
  #reject-modal-feed-managment .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
  }
  
  /* Título do modal */
  #reject-modal-feed-managment .modal-content h2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
  }
  
  /* Textarea */
  #reject-modal-feed-managment .modal-content textarea {
    width: 95%;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    font-size: 1rem;
  }
  
  /* Checkbox container */
  #reject-modal-feed-managment .checkbox-container {
    margin-top: 15px;
    display: flex;
    align-items: center;
  }
  
  #reject-modal-feed-managment .checkbox-container input[type="checkbox"] {
    margin-right: 10px;
  }
  
  #reject-modal-feed-managment .checkbox-container label {
    font-size: 0.9rem;
    color: #555;
  }
  
  /* Botões de ação */
  #reject-modal-feed-managment .modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  #reject-modal-feed-managment .modal-actions .btn-confirm {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }

  #reject-modal-feed-managment .modal-actions .button-template:last-child{
    background-color: #a80000;
    border-color: #a80000;
  }

  #reject-modal-feed-managment .modal-actions .button-template:first-child{
    background-color: #008000;
    border-color: #008000;
  }
  
  #reject-modal-feed-managment .modal-actions .button-template:hover {
    color: black;
    background-color: white;
  }

  #reject-modal-feed-managment .modal-content textarea::placeholder {
    font-family: "Arial", sans-serif;
    font-size: 1rem;
    color: #888; 
  }

  

  /* Animação de entrada */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }